<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}FindBack{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('bundles/findbacksite/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
            <link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" type="text/css" rel="stylesheet" />
            <link href="{{ asset('bundles/fanforfunleaflet/css/leaflet.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('bundles/fanforfunleaflet/css/leaflet.ie.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('bundles/findbacksite/css/base.css') }}" type="text/css" rel="stylesheet" />
            {% if form is defined %}{{ form_stylesheet(form) }}{% endif %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {#{{ facebook_initialize({'xfbml': true, 'fbAsyncInit': 'onFbInit();'}) }}#}
        {% block header %}
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <h3><a href="{{ path('find_back_site_homepage') }}">FindBack</a></h3>
                <div class="login">

                </div>
            </div>
        </div>
        {% endblock %}
        {% block body %}
        {% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('bundles/findbacksite/js/jquery.min.js') }}"></script>
            <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
            <script type="text/javascript" src="{{ asset('bundles/findbacksite/js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/fanforfunleaflet/js/leaflet.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/findbacksite/js/base.js') }}"></script>
            {#<script type="text/javascript">
                function goLogIn(){
                    window.location.href = "{{ path('_security_check') }}";
                }

                function onFbInit() {
                    if (typeof(FB) != 'undefined' && FB != null ) {              
                        FB.Event.subscribe('auth.statusChange', function(response) {
                            if (response.session || response.authResponse) {
                                setTimeout(goLogIn, 500);
                            } else {
                                window.location.href = "{{ path('_security_logout') }}";
                            }
                        });
                    }
                }
            </script>#}
            {% if form is defined %}{{ form_javascript(form) }}{% endif %}
        {% endblock %}
    </body>
</html>
