{% extends "FindBackSiteBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/findbacksite/css/jquery.ui.timepicker.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block left_title %}
    <h5>Quelqu'un vous recherche-t-il ?</h5>
{% endblock %}

{% block left_content %}
    <div class="alert alert-info" style="margin:0px 30px;">
        <button type="button" class="close" style="font-size: 15px;" data-dismiss="alert">&times;</button>
        <p>
            Afin de pouvoir vous mettre en relation avec des personnes qui seraient à votre recherche, nous vous demandons de bien vouloir renseigner des informations supplémentaires concernant votre profil.<br />
            Une <b>description physique</b> de vous-même, ainsi que les <b>lieux fréquentés</b> en soirée. Pour cela, cliquez sur votre prénom en haut à droite de l'écran.
        </p>
    </div>
    <h5>Effectuer une vérification rapide</h5>
    <form style="margin-left:30px;" action="{{ path('wanted_check') }}" method="post" {{ form_enctype(form) }}>
        <div align="center"  style="display: inline-block">
            <div class="input-prepend">
                <span class="add-on"><i class="icon-map-marker"></i></span>
                {{ form_row(form.place.formatted_address) }}
            </div>
            <div class="input-prepend">
                <span class="add-on"><i class="icon-calendar"></i></span>
                {{ form_row(form.date.date) }}
            </div>
        </div>
        <div align="center" style="display: inline-block">
            <div class="input-prepend hide">
                <span class="add-on"><i class="icon-time"></i></span>
                {{ form_row(form.date.time) }}
            </div>
            <div class="input-prepend hide">
                <span class="add-on"><i class="icon-home"></i></span>
                {{ form_row(form.place.establishment_type) }}
            </div>
            {{ form_rest(form.place) }}
            {{ form_widget(form._token) }}
        </div>

        <a class="btn plus"><i class="icon-plus"></i></a>
        <button type="submit" class="btn btn-success"><i class="icon-search icon-white"></i></button>
    </form>
{% endblock %}

{% block right_title %}
    <h5>Est-ce vous ?</h5>
{% endblock %}

{% block right_content %}
    <p>// Lieux fréquentés + description</p>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>
    <script type="text/javascript" src="{{ asset('bundles/findbacksite/js/jquery.ui.timepicker.js') }}"></script>
    <script type="text/javascript">
        /**
         * Twig forms display trick
         */
        $('input, select').parent('div').css('display', 'inline-block');
        /**
         * Tooltip trick
         */
        $('.plus').tooltip({
            title: 'Cliquez pour rajouter des informations',
            placement: 'bottom',
            container: 'body'
        }).click(function() {
            $('.hide').fadeIn().css('display', 'inline-block');
            $(this).tooltip('hide').remove();
        });

        /**
         * Placeholder dynamique
         */
        $('#wanted_place_formatted_address').focus(function() {
            $(this).attr('placeholder', 'Nom, Adresse');
        }).blur(function() {
            $(this).attr('placeholder', 'Où étiez-vous ?');
        });

        $('option').first().prop({
            'disabled': 'disabled',
            'selected': 'selected'
        });

        var input = /** @type {HTMLInputElement} */(document.getElementById('wanted_place_formatted_address'));
        var autocomplete = new google.maps.places.Autocomplete(input);
        google.maps.event.addListener(autocomplete, 'place_changed', function() {
            var place = autocomplete.getPlace();
            var address = '';
            if (place.address_components) {
              address = [
                (place.address_components[0] && place.address_components[0].short_name || ''),
                (place.address_components[1] && place.address_components[1].short_name || ''),
                (place.address_components[2] && place.address_components[2].short_name || '')
              ].join(' ');
            }
            var establishment_name = $('input[name="wanted[place][establishment_name]"]');
            var establishment_type = $('input[name="wanted[place][establishment_type]"]');
            var location           = $('input[name="wanted[place][location]"]');
            var street             = $('input[name="wanted[place][street]"]');
            var city               = $('input[name="wanted[place][city]"]');

            establishment_name.val(null);
            establishment_type.val(null);
            location.val(null);
            street.val(null);
            city.val(null);

            for(var i=0; i<place.address_components.length; ++i) {
                switch(place.address_components[i].types[0]) {
                    case 'route':
                        street.val(place.address_components[i].long_name);
                        break;
                    case 'locality':
                        city.val(place.address_components[i].long_name);
                        break;
                }
                if(place.types[place.types.length-1] == "establishment") {
                    establishment_name.val(place.name);
                    var type = place.types[0];
                    establishment_type.val(type);

                    if(type == "night_club" || type == "bar") {
                        $('option[value="night_club"]').prop('selected', 'selected');
                    } else if (type == "university") {
                        $('option[value="university"]').prop('selected', 'selected');
                    } else if (type == "school") {
                        $('option[value="school"]').prop('selected', 'selected');
                    } else if (type == "restaurant" || type == "food") {
                        $('option[value="restaurant"]').prop('selected', 'selected');
                    } else if (type == "lodging") {
                        $('option[value="lodging"]').prop('selected', 'selected');
                    }
                } else {
                    $('option').first().prop({
                        'disabled': 'disabled',
                        'selected': 'selected'
                    });
                }
                if(place.geometry.location) {
                    location.val(place.geometry.location.nb + ", " + place.geometry.location.ob);
                }
            }
            //console.log(place);
        });

        $('.date').datepicker({
            maxDate: "Now",
            dateFormat: "dd/mm/yy"
        });
        $('.time').timepicker();
    </script>
{% endblock %}