{% extends "FindBackSiteBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/findbacksite/css/jquery.ui.timepicker.css') }}" type="text/css" rel="stylesheet" />
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        #map {
            height: 300px;
            margin-bottom: 20px;
        }
        .controls {
            margin-top: 10px;
            border: 1px solid transparent;
            border-radius: 2px 0 0 2px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            height: 32px;
            outline: none;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        }

        #pac-input {
            background-color: #fff;
            margin-left: 12px;
            padding: 15px 10px;
            height: 20px;
            line-height: 20px;
            text-overflow: ellipsis;
            width: 300px;
            border-radius: 4px;
        }

        #pac-input:focus {
            border-color: #4d90fe;
        }

        #type-selector {
            color: #fff;
            background-color: #4d90fe;
            padding: 5px 11px 0px 11px;
        }

        #target {
            width: 345px;
        }
    </style>
{% endblock %}

{% block left_title %}
    <h5>Quelqu'un vous recherche-t-il ?</h5>
{% endblock %}

{% block left_content %}
    <div class="alert alert-info" style="margin:0px 30px;">
        <button type="button" class="close" style="font-size: 15px;" data-dismiss="alert">&times;</button>
        <p>
            Afin de pouvoir vous mettre en relation avec des personnes qui seraient à votre recherche, nous vous demandons de bien vouloir renseigner des informations supplémentaires concernant votre profil.<br />
            Une <b>description physique</b> de vous-même, ainsi que les <b>lieux fréquentés</b> en soirée. Pour cela, cliquez sur votre prénom en haut à droite de l'écran.
        </p>
    </div>
    <h5>Effectuer une vérification rapide</h5>
    <form style="margin-left:30px;" action="{{ path('wanted_check') }}" method="post" {{ form_enctype(form) }}>
        {{ form_row(form.place.formatted_address) }}
        <input id="pac-input" class="controls" type="text" placeholder="Où étiez-vous ?">
        <div id="map"></div>
        <div align="center"  style="display: inline-block">
            <div class="input-prepend">
                <span class="add-on"><i class="icon-calendar"></i></span>
                {{ form_row(form.date.date) }}
            </div>
        </div>
        <div align="center" style="display: inline-block">
            <div class="input-prepend hide">
                <span class="add-on"><i class="icon-time"></i></span>
                {{ form_row(form.date.time) }}
            </div>
            <div class="input-prepend hide">
                <span class="add-on"><i class="icon-home"></i></span>
                {{ form_row(form.place.establishment_type) }}
            </div>
            {{ form_rest(form.place) }}
            {{ form_widget(form._token) }}
        </div>

        <a class="btn plus"><i class="icon-plus"></i></a>
        <button type="submit" class="btn btn-success"><i class="icon-search icon-white"></i></button>
    </form>
{% endblock %}

{% block right_title %}
    <h5>Avis de recherche</h5>
{% endblock %}

{% block right_content %}
    <p>// Lieux fréquentés + description</p>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/findbacksite/js/jquery.ui.timepicker.js') }}"></script>
    <script type="text/javascript">
        /**
         * Twig forms display trick
         */
        $('input, select').parent('div').css('display', 'inline-block');
        /**
         * Tooltip trick
         */
        $('.plus').tooltip({
            title: 'Cliquez pour rajouter des informations',
            placement: 'bottom',
            container: 'body'
        }).click(function() {
            $('.hide').fadeIn().css('display', 'inline-block');
            $(this).tooltip('hide').remove();
        });

        /**
         * Placeholder dynamique
         * /
        $('#wanted_place_formatted_address').focus(function() {
            $(this).attr('placeholder', 'Nom, Adresse');
        }).blur(function() {
            $(this).attr('placeholder', 'Où étiez-vous ?');
        });
         */

        $('option').first().prop({
            'disabled': 'disabled',
            'selected': 'selected'
        });

        $('.date').datepicker({
            maxDate: "Now",
            dateFormat: "dd/mm/yy"
        });
        $('.time').timepicker();

        function initAutocomplete() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 43.300000, lng: 5.400000},
                zoom: 13,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            // Create the search box and link it to the UI element.
            var input = document.getElementById('pac-input');
            var searchBox = new google.maps.places.SearchBox(input);
            map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

            // Bias the SearchBox results towards current map's viewport.
            map.addListener('bounds_changed', function() {
                searchBox.setBounds(map.getBounds());
            });

            var markers = [];
            // [START region_getplaces]
            // Listen for the event fired when the user selects a prediction and retrieve
            // more details for that place.
            searchBox.addListener('places_changed', function() {
                var places = searchBox.getPlaces();

                if (places.length == 0) {
                    return;
                }

                // Clear out the old markers.
                markers.forEach(function(marker) {
                    marker.setMap(null);
                });
                markers = [];

                // For each place, get the icon, name and location.
                var bounds = new google.maps.LatLngBounds();
                places.forEach(function(place) {
                    //console.log(place);
                    $("#wanted_place_formatted_address").val(place.name + " " + place.vicinity);
                    if (place.address_components) {
                        address = [
                            (place.address_components[0] && place.address_components[0].short_name),
                            (place.address_components[1] && place.address_components[1].short_name +","),
                            (place.address_components[2] && place.address_components[2].short_name)
                        ].join(' ');
                        $("#wanted_place_city").val(place.address_components[2].short_name);
                    }

                    place.types.forEach(function(t) {
                        switch(t) {
                            case "bar":
                            case "night_club":
                                $('option[value="night_club"]').prop('selected', 'selected');
                                break;
                            case "university":
                                $('option[value="university"]').prop('selected', 'selected');
                                break;
                            case "school":
                                $('option[value="school"]').prop('selected', 'selected');
                                break;
                            case "restaurant":
                            case "food":
                                $('option[value="restaurant"]').prop('selected', 'selected');
                                break;
                            case "lodging":
                                $('option[value="lodging"]').prop('selected', 'selected');
                                break;
                        }
                    });

                    $("#wanted_place_establishment_name").val(place.name);
                    $("#wanted_place_street").val(place.vicinity);
                    $("#wanted_place_location").val(place.geometry.location.lat() + ", " + place.geometry.location.lng());

                    var icon = {
                        url: place.icon,
                        size: new google.maps.Size(71, 71),
                        origin: new google.maps.Point(0, 0),
                        anchor: new google.maps.Point(17, 34),
                        scaledSize: new google.maps.Size(25, 25)
                    };

                    // Create a marker for each place.
                    markers.push(new google.maps.Marker({
                        map: map,
                        icon: icon,
                        title: place.name,
                        position: place.geometry.location
                    }));

                    if (place.geometry.viewport) {
                        // Only geocodes have viewport.
                        bounds.union(place.geometry.viewport);
                    } else {
                        bounds.extend(place.geometry.location);
                    }
                });
                map.fitBounds(bounds);
            });
            // [END region_getplaces]
        }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4QDBP3GO6fXiHJGSLweZwPpbaMf1FSJw&libraries=places&callback=initAutocomplete"
            async defer></script>
{% endblock %}