{% extends "FindBackSiteBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        #map {
            height: 300px;
            margin-bottom: 20px;
        }
        .controls {
            margin-top: 10px;
            border: 1px solid transparent;
            border-radius: 2px 0 0 2px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            height: 32px;
            outline: none;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        }

        #pac-input {
            background-color: #fff;
            margin-left: 12px;
            padding: 15px 10px;
            height: 20px;
            line-height: 20px;
            text-overflow: ellipsis;
            width: 300px;
            border-radius: 4px;
        }

        #pac-input:focus {
            border-color: #4d90fe;
        }

        #type-selector {
            color: #fff;
            background-color: #4d90fe;
            padding: 5px 11px 0px 11px;
        }

        #target {
            width: 345px;
        }

        .tagit-new {
            /*width: 100%;*/
        }

        ul.tagit li:not(:first-child) ::-webkit-input-placeholder {opacity: 0;}
        ul.tagit li:not(:first-child) ::-moz-placeholder {opacity: 0;}
        ul.tagit li:not(:first-child) ::-ms-input-placeholder {opacity: 0;}
        ul.tagit li:not(:first-child) ::placeholder {opacity: 0;}
    </style>
    <link href="{{ asset('bundles/findbacksite/css/chosen.min.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/findbacksite/css/search.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/findbacksite/css/jquery.tagit.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block left_title %}
    <h5><i class="icon-search"></i> Rechercher quelqu'un</h5>
{% endblock %}

{% block left_content %}

    <form action="{{ path('wanted_publish') }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        <div class="bloc" style="width: 600px;">
            <h5>Situation spatio-temporelle</h5>
            <div class="well">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#places" data-toggle="tab">Coordonnées</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="places">
                        <input id="pac-input" class="controls" type="text" placeholder="Où étiez-vous ?">
                        <div id="map"></div>
                        {{ form_row(form.place.formatted_address) }}
                        {{ form_row(form.date.date) }}
                        {{ form_row(form.date.time) }}
                        {{ form_row(form.place.establishment_type) }}

                        {{ form_row(form.place.establishment_name) }}
                        {{ form_row(form.place.city) }}
                        {{ form_row(form.place.street) }}
                        {{ form_row(form.place.location) }}
                    </div>
                </div>
            </div>
            <h5>En quelles circonstances ?</h5>
            <p style="margin-left: 15px; margin-right: 15px;">
                Comment vous êtes-vous rencontrés ? Renseignez des <b>mots-clés</b> (ex: danser, regard, discussion, rire, ...)
            </p>
            <div class="well">
                {{ form_row(form.circumstances) }}
            </div>
        </div>
        <div class="bloc" style="margin-left: 20px;width: 320px;">
            <h5>Description physique</h5>
            <div class="well">
                {{ form_row(form.description.height) }}
                <div id="slider-range"></div>
                {{ form_end(form.description) }}
                {{ form_widget(form._token) }}
            </div>
            <input type="submit" class="btn btn-success" value="Publier" />
        </div>
    </form>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/findbacksite/js/jquery.ui.timepicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/findbacksite/js/tag-it.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/findbacksite/js/chosen.jquery.min.js') }}"></script>
    <script type="text/javascript">

        var tagList = ['regard', 'danse', 'toucher', 'discussion', 'rire'];

        $("#wanted_circumstances").tagit({
            availableTags: tagList,
            removeConfirmation: true
        });

        $('#slider-range').slider({
            range: true,
            min: 140,
            max: 210,
            step: 5,
            values: [ 160, 180 ],
            slide: function( event, ui ) {
                $("#wanted_description_height").val(ui.values[0] + " - " + ui.values[1] + " cm");
            }
        });
        $("#wanted_description_height").val(
            $("#slider-range").slider("values", 0) + " - " + $("#slider-range").slider("values", 1) + " cm"
        );

        $('#wanted_description_hairCut, #wanted_description_beard, ' +
                '#wanted_description_piercing, #wanted_description_earring, ' +
                '#wanted_description_tattoo').attr('multiple', 'multiple').chosen();
        $('#wanted_description_hairColor, #wanted_description_eyes').attr('multiple', 'multiple').chosen({max_selected_options: 2});
        $('.chosen-choices').css({'border-color': '#ccc', 'background-image': 'none', 'border-radius': '3px'});

        // plugins interactifs pour la date
        $('.date').datepicker({
            maxDate: "Now",
            dateFormat: "dd/mm/yy"
        });
        $('.time').timepicker();

// This example adds a search box to a map, using the Google Place Autocomplete
// feature. People can enter geographical searches. The search box will return a
// pick list containing a mix of places and predicted search terms.

        function initAutocomplete() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 43.300000, lng: 5.400000},
                zoom: 13,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            // Create the search box and link it to the UI element.
            var input = document.getElementById('pac-input');
            var searchBox = new google.maps.places.SearchBox(input);
            map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

            // Bias the SearchBox results towards current map's viewport.
            map.addListener('bounds_changed', function() {
                searchBox.setBounds(map.getBounds());
            });

            var markers = [];
            // [START region_getplaces]
            // Listen for the event fired when the user selects a prediction and retrieve
            // more details for that place.
            searchBox.addListener('places_changed', function() {
                var places = searchBox.getPlaces();

                if (places.length == 0) {
                    return;
                }

                // Clear out the old markers.
                markers.forEach(function(marker) {
                    marker.setMap(null);
                });
                markers = [];

                // For each place, get the icon, name and location.
                var bounds = new google.maps.LatLngBounds();
                places.forEach(function(place) {
                    //console.log(place);
                    $("#wanted_place_formatted_address").val(place.name + " " + place.vicinity);
                    if (place.address_components) {
                        address = [
                            (place.address_components[0] && place.address_components[0].short_name),
                            (place.address_components[1] && place.address_components[1].short_name +","),
                            (place.address_components[2] && place.address_components[2].short_name)
                        ].join(' ');
                        $("#wanted_place_city").val(place.address_components[2].short_name);
                    }

                    place.types.forEach(function(t) {
                        switch(t) {
                            case "bar":
                            case "night_club":
                                $('option[value="night_club"]').prop('selected', 'selected');
                                break;
                            case "university":
                                $('option[value="university"]').prop('selected', 'selected');
                                break;
                            case "school":
                                $('option[value="school"]').prop('selected', 'selected');
                                break;
                            case "restaurant":
                            case "food":
                                $('option[value="restaurant"]').prop('selected', 'selected');
                                break;
                            case "lodging":
                                $('option[value="lodging"]').prop('selected', 'selected');
                                break;
                        }
                    });

                    $("#wanted_place_establishment_name").val(place.name);
                    $("#wanted_place_street").val(place.vicinity);
                    $("#wanted_place_location").val(place.geometry.location.lat() + ", " + place.geometry.location.lng());

                    var icon = {
                        url: place.icon,
                        size: new google.maps.Size(71, 71),
                        origin: new google.maps.Point(0, 0),
                        anchor: new google.maps.Point(17, 34),
                        scaledSize: new google.maps.Size(25, 25)
                    };

                    // Create a marker for each place.
                    markers.push(new google.maps.Marker({
                        map: map,
                        icon: icon,
                        title: place.name,
                        position: place.geometry.location
                    }));

                    if (place.geometry.viewport) {
                        // Only geocodes have viewport.
                        bounds.union(place.geometry.viewport);
                    } else {
                        bounds.extend(place.geometry.location);
                    }
                });
                map.fitBounds(bounds);
            });
            // [END region_getplaces]
        }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4QDBP3GO6fXiHJGSLweZwPpbaMf1FSJw&libraries=places&callback=initAutocomplete"
            async defer></script>
{% endblock %}
