{% extends "::base.html.twig" %}

{% block body %}

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <h3>FindBack</h3>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
        <a href="{{ path('fos_user_security_logout') }}">
            {{ 'layout.logout'|trans({}, 'messages') }}
        </a>
    {% else %}
        {{ render(controller('FOSUserBundle:Security:login')) }}
    {% endif %}
    
  </div>
</div>

    <section>

        <div class="content">
            <div class="dialog">
                <h4>Inscrivez-vous gratuitement</h4>
                 {{ render(controller('FOSUserBundle:Registration:register')) }}
            </div>

            <div class="legend">
                <p>Vous avez fait une rencontre lors d'un évenement marquant, <br />
                Mais vous n'avez pas pu échanger vos coordonnées ?<br />
                Vous souhaitez le ou la retrouver ?<br />
                Il ou Elle vous recherche peut-être...</p>
                <h1>FindBack est là pour vous !</h1>

                <div class="counter"><p>Déjà <span class="color">34104</span> personnes se sont retrouvées !</p></div>
            </div>
        </div>

    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {

            var images = ['blur.jpg', 'blur3.jpg'];
            $('body').css({
                'background': 'url(bundles/findbacksite/images/' + images[Math.floor(Math.random() * images.length)] + ') no-repeat center center fixed',
                '-webkit-background-size': 'cover',
                '-moz-background-size': 'cover',
                '-o-background-size': 'cover',
                'background-size': 'cover'
                
            });

            $('input[name="fos_user_registration_form[username]"]').removeAttr('required').hide();
            $('form.fos_user_registration_register').submit(function () {
                var val = $('input[name="fos_user_registration_form[email][first]"]').val();
                //var val = $('input[name="fos_user_registration_form[firstname]"]').val();
                $('input[name="fos_user_registration_form[username]"]').val(val);
            });

            $('.settings').popover({
                'title': 'Options',
                'placement': 'bottom',
                trigger: "click",
                html: true,
                'content': '<a href="#">Forgot password ?</a>'
            });
        });
    </script>
{% endblock %}